body{
  background-color: #557a74;
background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
}

/* .searchFunction{
  display: flex;
  row
} */
.mainDiv{
  display: inline-block;
  /* justify-content: right; */
  /* flex-direction: row; */
  margin: auto;
  width: 150px;
  padding: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2%;
  float: right;
  overflow-y: scroll;
}

.formDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 40%;
  margin-top: 2%;
}

.pConatainer {
  float: left;
  margin-top: 5%;
}

#photo {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  padding-top: 0%;
  margin-left: 2%;
  float: left;
}
.div{
  /* display: flex;
  flex-wrap: wrap; */
}